<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% block addons %}{% endblock %}
  </head>
  <body>
    {% include 'includes/_navbar.html' %}

    {% block navbar %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>
    {% endblock %}

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

  </body>
</html>

